.responsive {
    width: 100%;
    height: 750px;
    border-radius: 15px;
}
.email {
    position: absolute;
    top: 625px;
    left: 1292px;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}
.number {
    position: absolute;
    top: 665px;
    left: 1355px;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}
.email-logo {
    position: absolute;
    top: 652px;
    left: 1260px;
    height: 22px;
    width: auto;
    border-radius: 6px;
}
.call-logo {
    position: absolute;
    top: 690px;
    left: 1325px;
    height: 28px;
    width: auto;
    border-radius: 6px;
}
.details-button {
    position: absolute;
    top: 710px;
    left: 1340px; 
}